.cabecera{
    background-color:chocolate;
    float: left;
    height: 120px;
    width: 100%;
    align-content: center;
}

.nombre{
    height: 90px;
    border: solid;
    float: left;
    width: 60%;
    margin-left: 2%;
    margin-bottom: 1%;
    margin-top: 1%;
}

.logos{
    height: 90px;
    border: solid;
    float: right;
    width: 30%;
    margin-right: 2%;
    margin-bottom: 1%;
    margin-top: 1%;
}

.foto-container{
    background-color: aliceblue;
    float: left;
    height: 380px;
    width: 39%;
    margin-left: 1%;
    align-content: center;
}

.marco{
    height: 220px;
    border: solid;
    float: center;
    width: 50%;
    margin: 0 auto;
}

.claves{
    height: 100px;
    border: solid;
    float: center;
    width: 80%;
    margin: 0 auto;
}

.bio{
    background-color: rgb(132, 198, 255);
    float: left;
    height: 380px;
    width: 59%;
    margin-right: 1%;
    align-content: center;
}

.pie{
    background-color:chocolate;
    float: left;
    height: 70px;
    width: 100%;
    align-content:end;
}

.red{
    height: 40px;
    border: solid;
    float: right;
    width: 23%;
    margin: 0.5%;
}

body{
    background-color:rgb(212, 206, 202);
}
