*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.site-header {
  background-color: #13406c;
  color: white;
  padding: 2rem;
  align-items: center;
  position: relative;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo img {
  height: 50px;
  display: block;
  background-color: white;
  padding: 8px;
  border-radius: 5px;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 21px;
}

.space-nav{
  height: 15px;
}

.nav-toggle-label span {
  display: block;
  height: 3px;
  width: 100%;
  border-radius: 2px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.navbar {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.navbar ul {
  list-style: none;
  padding-top: 1rem;
  text-align: center;
}

.navbar li {
  border-top: 1px solid #043465;
}

.navbar a {
  display: block;
  padding: 1rem;
  color: white;
  text-decoration: none;
  transition: background 0.3s;
}

.navbar a:hover {
  background-color: #083562;
}

#nav-toggle:checked ~ .navbar {
  max-height: 300px;
}

.redes{
  padding: 20px 10px;
  padding-bottom: 0;
}

.red{
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.red img{
  height: 60px;
  transition: all 0.3s;
}

.red:hover img, .red:hover p{
  transform: scale(1.1);
}

.red p{
  font-weight: bold;
  transition: all 0.3s;
}

.sign{
    text-align: center;
    padding: 15px;
}

@media only screen and (min-width: 768px){
  .navbar ul{
    display: flex;
  }

  .navbar ul li{
    margin: auto;
    width: 100%;
  }

  #guion{
    opacity: 0;
    display: none;
  }

  #nav-toggle:checked ~ .navbar {
    max-height: 90px;
  }

  .space-nav{
    height: 20px;
  }
  .nav-toggle-label{
    width: 40px;
    height: 31px;
  }

  .logo img{
    height: 70px;
  }

  .red img{
    height: 90px;
  }
}

@media only screen and (min-width: 992px){
  #nav-toggle {
    display: none;
  }

  .nav-toggle-label {
    display: none;
  }

  .navbar {
    max-height: 100px;
    overflow: hidden;
  }

  .redes{
    margin-left: 20px;
  }

  .red img{
    height: 120px;
  }

  .red{
    display: flex;
    align-items: center;
  }
  .red p{
    font-size: large;
    padding-left: 15px;
  }

  .sign{
    padding: 25px;
    margin: 0px 40px;
  }
}