*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-links {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.main-links li {
  padding: 0.5rem 1rem;
  background-color: rgb(10, 207, 197);
}

.dropdown-li {
  position: relative;
}

.dropdown-li:focus{
    width: 100%;
    background-color: white;
    color: white;
}

.dropdown-li:focus .dropdown {
  display: block;
  opacity: 1;
}

.dropdown-li:focus p {
  opacity: 1;
  visibility: hidden;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
}

.dropdown {
  margin: 0;
  padding: 0;
  width: 100%;
  left: 0;
  top: 100%;
  opacity: 0;
  display: none;
}

.dropdown li {
  list-style: none;
}
