body{
    background-color: rgb(189, 97, 184);
    font-family: 'Courier New', Courier, monospace;
    min-height: 97vh;
}

header{
    padding: 1% 3%;
    background-color: rgb(222, 141, 218);
    height: 10vh;
}

header h1{
    color: rgb(0, 0, 0);
    letter-spacing: 0.5rem;
}

nav{
    background-color:  rgb(90, 221, 175);
    display: flex;
    flex-direction: row;
    height: 7vh;
    width: 100%;
}

nav a{
    margin: auto;
    color: rgb(0, 0, 0);
    padding: 1% 2%;
    text-decoration: none;
    text-align: center;
}

nav a:hover{
    background-color: rgb(100, 255, 201);
}

/*CONTENEDOR*/

.container{
    min-height: 57vh;
    padding: 1% 2%;
    background-color: azure;
    display: flex;
    flex-wrap: wrap;
}

.pedazo{
    margin: 1% auto;
    border: solid;
    border-color: aquamarine;
    min-height: 200px;
    max-width: 440px;
    flex-direction: column;
    border-radius: 3%;
    background-color: aquamarine;
    padding: 1%;
    display: flex;
    align-self: center;
    
}

.pedazo:hover{
    background-color: rgb(127, 255, 240);
}

.description{
    padding: 0% 2%;
}

.botoneras{
    text-align: center;
    display: flex;
    flex-direction: row;
}

.botoneras button{
    margin: 2% auto 1%;
    padding: 3% 4%;
}

button{
    background-color: rgb(160, 255, 219);
    border-radius: 10%;
}

button:hover{
    background-color: rgb(206, 255, 234);
}

select{
    padding: 2%;
    border-radius: 25%;
    text-align: center;
}

select:hover{
    background-color: bisque;
}

input, textarea{
    margin: 1% 0%;
    border-radius: 10%;
    padding: 1%;
    overflow-x: auto;
}

input:focus,textarea:focus{
    background-color: bisque;
}

.number-data{
    padding: 1%;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.number-data p{
    margin: 0% auto;
}

.number-data a{
    color: blue;
}

/*FIN CONTENEDOR*/

footer{
    background-color:rgb(90, 221, 175);
    align-self: center;
    width: 100%;
}

footer a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

#logo-redes{
    height: 6vh;
    margin: 0% 1%;
    border-radius: 50%;
    padding: 1%;
}

#logo-txt{
    padding-left: 1%;
    color: black;
    text-decoration: none;
}


@media screen and (max-height: 650px) {

    #header-containter{
        visibility: hidden;
    }
}