/* Selector de clase */
.cabecera{
    background-color:rgba(0, 25, 137, 0.614);
    float: left;
    height: 120px auto;
    width: 100%;
    align-content: center;
}

.nombre{
    height: 90px auto;
    float: left;
    width: 60%;
    margin-left: 2%;
}

#nombre-completo{
    font-size: 3.5em;
    letter-spacing: 0.1em;
    color: aliceblue;
}

.logos{
    height: 90px auto;
    float: left;
    width: 30%;
    margin-right: 2%;
    margin-bottom: 1%;
    margin-top: 1%;
    align-content: center;
}

.imagenes{
    width: 80%;
    float: center;
}

.foto-container{
    float: left;
    height: 380px auto;
    width: 39%;
    margin-left: 1%;
    align-content: center;
    margin-top: 0.5%;
}

.marco{
    height: 290px;
    float: center;
    width: 70%;
    margin: 0 auto;
    align-content: center;
}

/* Selector de ID */
#foto{
    width: 65%;
    border-radius: 20%;
    margin-left: 18%;
}

.claves-container{
    margin: 1%;
    background-color: rgb(168, 214, 255);
    border-radius: 2%;
    height: 70px auto;
    float: center;
    width: 85%;
    align-content: center;
    margin: 0 auto;
}

.claves{
    height: 150px auto;
    float: center;
    margin: 0 auto;
}

/* Selector de etiqueta */
li{
    padding: 0.5em;
    display: inline;
    float: center;
}

.bio{
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    background-color: rgb(168, 214, 255);
    float: left;
    height: 330px auto;
    width: 59%;
    margin-right: 1%;
    align-content: center;
}

.bio-body{
    min-height: 330px;
    height: auto;
    width: 94%;
    margin: 2% auto;
}

.pie{
    background-color:rgb(0, 25, 137);
    float: left;
    height: 70px;
    width: 100%;
    align-content: center;
}

.red{
    height: 40px;
    float: right;
    width: 23%;
    margin: 0.5%;
    align-content: center;
}

.logo-redes{
    float: left;
    height: 40px;
    border-radius: 50%;
    margin-right: 2%;
}

.logo-txt{
    align-content: center;
    margin-left: 1%;
    justify-content: center;
    font-size: 0.9em;
    color: aliceblue;

}

body{
    background-color:rgb(53, 70, 144);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.01em;
}
